.form-div {
    background-color: #CCCCFC;
}
body {
    background-color: grey;
}
.signup-header {
    color: grey;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    background-color:white;
    
}
.container {
    max-width: 100% !important;
}
.help-block {
    color: red;
}
.header-link {
    margin-top: 10px;
}
.header-link > a{
    color:black;
    font-size:14px;
}